---
import "../globals.css";
import Layout from "../layouts/Layout.astro";

const locations = [
	{
		place: "Kościół p.w. św. Antoniego Padewskiego w Parowej",
		time: "14:30",
		mapsUrl:
			"https://www.google.pl/maps/place/Ko%C5%9Bci%C3%B3%C5%82+pw+%C5%9Bw.+Antoniego+Padewskiego/@51.3628674,15.275504,17z/data=!3m1!4b1!4m6!3m5!1s0x4708b7fe7d73670b:0xdda4090dd392cb57!8m2!3d51.3628674!4d15.2780789!16s%2Fg%2F11cr_8b0w2?entry=ttu&g_ep=EgoyMDI0MTIwNC4wIKXMDSoASAFQAw%3D%3D",
		icon: "/icons/church.svg",
	},
	{
		place: "Zamek Kliczków",
		time: "16:00",
		mapsUrl:
			"https://www.google.pl/maps/place/Zamek+Kliczk%C3%B3w/@51.3364584,15.4310875,17z/data=!3m1!5s0x4708ca78d4dab351:0x3729d188ea0c52ea!4m9!3m8!1s0x4708ca78d4d186cf:0xd2243f616f284edc!5m2!4m1!1i2!8m2!3d51.3364584!4d15.4336624!16s%2Fg%2F11b7hk7m5j?entry=ttu&g_ep=EgoyMDI0MTIwNC4wIKXMDSoASAFQAw%3D%3D",
		icon: "/icons/party.svg",
	},
	{
		place: "Folwark Książęcy",
		mapsUrl:
			"https://www.google.pl/maps/place/Folwark+Ksi%C4%85%C5%BC%C4%99cy/@51.3337343,15.4302891,17z/data=!3m2!4b1!5s0x4708ca7c280e8e5f:0xfb9ce643161711e4!4m9!3m8!1s0x4708ca7e80aa6ccb:0xbf3feeab4f387462!5m2!4m1!1i2!8m2!3d51.3337344!4d15.43516!16s%2Fg%2F11p5_hm7vj?entry=ttu&g_ep=EgoyMDI0MTIwNC4wIKXMDSoASAFQAw%3D%3D",
		icon: "/icons/bed.svg",
	},
];
---

<Layout title="Natalia + Jakub">
	<header>
		<div class="relative flex flex-col items-center">
			<picture>
				<source
					media="(min-width: 768px)"
					srcset="/photos/session.webp"
					type="image/webp"
				/>
				<img src="/photos/session-mobile.webp" alt="Natalia i Jakub" />
			</picture>
			<div
				class="absolute bg-yellow-50 left-0 top-6 px-8 md:px-24 py-2 bg-opacity-80 flex flex-col justify-center items-center"
			>
				<h2 class="text-xs">14 · 06 · 2025</h2>
				<h1 class="text-4xl mb-4 md:text-7xl">Natalia & Jakub</h1>
			</div>
			<div class="flex items-center flex-col my-8">
				<button
					id="add"
					class="px-6 py-2 border bg-green-900 rounded-sm hover:bg-green-700 transition-all text-white text-sm shadow-md font-bold duration-200"
				>
					Zapisz w kalendarzu
				</button>
			</div>
		</div>
	</header>
	<main>
		<section class="mb-14 mx-auto flex flex-col max-w-2xl xl:my-8">
			<h2
				class="pl-4 mb-12 text-3xl underline decoration-from-font underline-offset-4"
			>
				Lokalizacje
			</h2>
			<div class="gap-8 px-6 flex flex-col md:flex-row mx-auto">
				{
					locations.map((location) => (
						<div class="relative md:min-h-[200px]">
							<div class="p-6 text-sm flex flex-col h-full shadow-md w-52">
								<div class="flex flex-col md:items-center md:text-center mb-4 flex-grow">
									<h3 class="text-gray-700 mt-4 font-bold">{location.place}</h3>
								</div>
								<div class="flex-grow flex flex-col md:items-center">
									{location.time && (
										<div class="flex items-center gap-2 text-gray-500 md:flex-grow md:items-end">
											<img
												class="w-4 h-4"
												src="/icons/clock.svg"
												alt="ikona zegara"
											/>
											<span>{location.time}</span>
										</div>
									)}
								</div>

								<div class="mt-auto pt-4">
									<a
										href={location.mapsUrl}
										target="_blank"
										rel="noopener noreferrer"
										class="flex items-center justify-center gap-2 border border-red-200 shadow-md text-gray-800 px-4 py-2 mx-auto w-40 hover:bg-yellow-50 transition-all duration-200"
									>
										<img
											class="w-4 h-4"
											src="/icons/pin.svg"
											alt="ikona pinezki"
										/>
										<span>Pokaż trasę</span>
									</a>
								</div>
							</div>
							<div class="absolute -top-4 -left-4 w-12 h-12 bg-yellow-50 rounded-full flex items-center shadow-md justify-center">
								<img class="w-6 h-6" src={location.icon} alt={location.icon} />
							</div>
						</div>
					))
				}
			</div>
			<h2 class="text-right p-4">Do zobaczenia wkrótce!</h2>
		</section>
	</main>
</Layout>

<script>
	document.getElementById("add")!.addEventListener("click", () => {
		window.open("https://calendar.app.google/UuiuuqLa5q6oeZWW8", "_blank");
	});
</script>
